section {
    margin: 2,5%;
}

section div {
   margin-bottom: 2.5%;
}


main section div article {
    border: 2px solid black;
}

main section div p {
    margin-top: 0px;
    text-align: justify;
    line-height: 25px;
    text-indent: 25px;
}

div.imagen h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}